{% sw_extends '@Storefront/storefront/section/cms-section-default.html.twig' %}

{% block page_content_section_default %}
    {% set subcategories = page.extensions.subcategories %}
    {% set routeName = app.request.attributes.get('_route') %}
    {% set navigationId = page.navigationId %}

    {% if routeName == 'frontend.navigation.page' and subcategories is defined and subcategories|length > 0 %}
        <div class="subcat-section-list-page custom-sub-cat">
            <div class="container">
                <div class="subcategory-list mb-4">
                    {% for subCat in subcategories %}
                        <div class="subcat-box mb-2 {% if loop.index > 4 %}showhide{% endif %}" data-subcat-index="{{ loop.index }}">
                            <a href="{{ seoUrl('frontend.navigation.page', { navigationId: subCat.id }) }}">
                                {% if subCat.media %}
                                    <img src="{{ subCat.media.url }}" alt="{{ subCat.media.alt }}" class="img-fluid mb-2" style="max-height: 100px;">
                                {% endif %}
                                <div class="img-name">{{ subCat.translated.name }}</div>
                            </a>
                        </div>
                    {% endfor %}
                    <!-- <div class="more_categories">
                        <span class="subcat-box toggle-more"><a href="#">{{ "category_hide_show"|trans }}</a></span>
                        <span class="subcat-box toggle-less" style="display:none;">
                            <a href="#">{{ "category_less"|trans }}</a>
                        </span>
                    </div> -->
                </div>

                
            </div>
        </div>
        
    {% endif %}

    {{ parent() }}

    {# Brand Video Slider Section #}
    <!-- {% if page.product and page.product.manufacturer and page.product.manufacturer.translated.name %}
        {% set manufacturerName = page.product.manufacturer.translated.name|trim %}
        {% set brandData = getBrandByName(manufacturerName) %}

        {% if brandData and brandData.video_slider_html %}
            <div class="brand-video-slider-section">
                <div class="container">
                    <div class="brand-video-content">
                        {% set videoContent = brandData.video_slider_html %}
                        
                        {# Check if it's already HTML (contains iframe or embed tag) #}
                        {% if '<iframe' in videoContent or '<embed' in videoContent or '<video' in videoContent %}
                            {{ videoContent|raw }}
                        {% else %}
                            {# It's a URL, convert to iframe #}
                            <div class="video-wrapper" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                                <iframe src="{{ videoContent }}" 
                                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                                        frameborder="0" 
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                        allowfullscreen>
                                </iframe>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %} -->
{% endblock %}
