<div class="color-variants--option
                    {% if  searchResult.extensions.colorVariants.config.isRound == true %}color-variants--option-isRound{% endif %}
                    {% if  searchResult.extensions.colorVariants.config.provideDirectLinks == true %}color-variants--option-isLink{% endif %}
                    {% if variant.optionImage %}color-variants--option-hasImage{% endif %}" style="{% if variant.optionImage %}background-image: url(' {{ asset(variant.optionImage) }} ');{% else %}background-color: {{  variant.colorHexCode }};{% endif %}
    height: {{ searchResult.extensions.colorVariants.config.size }}px; width: {{ searchResult.extensions.colorVariants.config.size }}px;" title="{{ variant.colorName }}"
     {% if  searchResult.extensions.colorVariants.config.provideDirectLinks == true %}data-url="{{ seoUrl('frontend.detail.page', {'productId': variant.productId}) }}"{% endif %}
>
    {% if  variant.cover %}
        {% sw_thumbnails 'product-image-thumbnails' with {
            media: variant.cover,
            sizes: {
                'xs': '501px',
                'sm': '315px',
                'md': '427px',
                'lg': '333px',
                'xl': '284px'
            }
        } %}
    {% endif %}
</div>
